apiVersion: v1
kind: Service
metadata:
  # Service do frontend
  name: myfront-app
  labels:
    app: myfront-app
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 80
      targetPort: 80
      protocol: TCP
  selector:
    app: myfront-app
